@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1
{
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px #000;
    text-align: center;
    margin-top: 10px;
}

body
{
    background-image: url('assets/hotel.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container
{   
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}

.bookingForm
{
    max-width: 550px;
    margin: 0 auto;
    background: rgba(192,192,192,0.8);
    padding: px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px  rgba(0,0,0,0.13);
}

.input
{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #d3ee3c;
    padding: 1px;
    color: rgb(0, 0, 0);
}

::-webkit-input-placeholder
{
    color: whitesmoke;
}

.btnSub,
.btnRes
{
    transition-duration: 0.2s;
    border: none;
    color: black;
    margin-top: 0.25%;
    padding: 16px 16px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.btnSub:hover
{
    background-color: #4CAF50;
    color: black;
}

.btnRes:hover
{
    background-color: #df2a1d;
    color: black;
}